@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Payroll</h1>
    <p>Go To <a>@Html.ActionLink("Employee Payroll", "List", "Employee")</a>.</p>   
</div>
